[Unit]
Description=Blahaj of Approval

[Service]
Type=simple
Restart=on-failure
DynamicUser=yes
WorkingDirectory=/opt/blahaj
Environment=NODE_VERSION=18 NODE_ENV=production
ExecStart=/root/.nvm/nvm-exec npm start

[Install]
WantedBy=multi-user.target
