[Unit]
Description=Blahaj of Approval

[Service]
Type=simple
Restart=on-failure
User=root
Group=root
WorkingDirectory=/root/blahaj-of-approval
ExecStart=npm start

[Install]
WantedBy=multi-user.target
