[Unit]
Description=Blahaj of Approval

[Service]
Type=simple
Restart=on-failure
DynamicUser=yes
WorkingDirectory=/opt/blahaj
ExecStart=node src/index.js

[Install]
WantedBy=multi-user.target
